/* This a css comment */
body {
    background-color: rgb(244, 241, 227);
    color:#4a4052  ;
    margin: 20px;
    
}
/* Header*/
header { 
    background-color: rgb(168, 145, 125);
   color: rgb(132, 36, 36) ;   
 
}

article {
    border: 5px solid #7f3c3c;
}
/* Main*/
main {
    /* Container for Flex items*/
    display: flex;
    flex-wrap: wrap;
    gap: 15%;
    
    border: #725989;
    max-width: 10000px;
    text-align: center
}
a { color: rgb(118, 47, 47) ;
    margin-right: 10px;

}
 p {
    background-color: rgb(227, 226, 218);
}
h2 {
    color: rgb(40, 40, 3);
}

.item {
    margin: 8px 0;
    padding: 16px;
    background-color: #926060;
    border: 5px solid #7f3c3c ;
    text-align: center;
}
.highlight {
    background-color: #926060;
}
nav {
    padding: 2%;
    

}