/* This a css comment */
body {
    background-color: rgb(244, 241, 227);
    color:#4a4052  ;
    margin: 30px;
}
/* Header*/
header { 
    background-color: rgb(168, 145, 125);
   color: rgb(20, 95, 20) ;   
 
}

article {
    border: 5px solid rgb(127, 60, 60);
}
/* Main*/
main {
    border: #725989;
    max-width: 10000px;
    text-align: center
}
a { color: rgb(24, 155, 160) ;
    margin-right: 20px;

}
 p {
    background-color: rgb(227, 226, 218);
}
h2 {
    color: rgb(234, 234, 228);
}
